.summary-section {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.obs-header {
    margin: 30px;
}

.list-group-condensed .list-group-item {
    padding: 6px;
}

.opportunity-panel{
    max-width: 655px;
    margin: 0 auto;
}

thead{
    background-color: #8cd8ff;
}